.profilepic{
    img{
    width: 500px;
    margin-left: 50%;
    animation: fadeIn 1s;  
    }  
}

@media  screen and (max-width: 768px){
    .profilepic{
    img{
    width: 400px;
    margin-left: 55%;
    position: absolute;
    top: 10%;
    }
}
}
@media  screen and (max-width: 500px){
    .profilepic{
    img{
    display:none;  
    }
}
}
