.homepage{

    .mainheading{
        position: absolute; 
        left: 10%; //away from sidebar
        top: 50%; //vertically centered
        transform: translateY(-50%); 
        width: 40%; 
        max-height: 90%; 

    }
    h1{
        color: white; 
        font-size: 4.2vw; 
        margin: 0; 
        font-family: 'Fred'; 
        font-weight: 400;

        &::before{
            content: '<h1>'; 
            font-family: 'Shadows'; 
            color: #8EE3EF; 
            font-size: 14px; 
            position: absolute; 
            margin-top: -40px; 
            left: 15px; 
            opacity: 0.6;
        }

        &::after{
            content: '</h1>'; 
            font-family: 'Shadows';
            color: #8EE3EF;
            font-size: 14px; 
            position: absolute; 
            margin-top: 18px; 
            margin-left: 20px; 
            animation: fadeIn 1s 1.7s backwards; 
            opacity: 0.6; 
        }
        img{
            width: 45px;
            margin-left: 18px;
            opacity: 0; 
            height: auto; 
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }
    h2{
        color: #a09e9e;
        margin-top: 20px; 
        font-weight: 400; 
        font-size: 11px;
        font-family: sans-serif; 
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button{
        color: #8EE3EF; 
        font-size: 1vw; 
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #8EE3EF; 
        margin-top: 25px; 
        float: left; 
        animation: fadeInAnimation 1s 1.8s backwards; 
        white-space: nowrap;

        &:hover{
            background: #8EE3EF;
            color: #333; 
        }
        &:focus{
            background: #8EE3EF;
            color: #333; 
        }

    }
}

@media  screen and (max-width: 1024px){
    .homepage{
    .mainheading{
        left: 12%; //away from sidebar
        top: 40%; //vertically centered
        transform: translateY(-50%); 
    }
    h1{
        img{
            width: 35px;
        }
    }
}
}

@media  screen and (max-width: 768px){
    .homepage{
    .mainheading{
        left: 13%; //away from sidebar
        top: 40%; //vertically centered
        transform: translateY(-50%); 
    }
    h1{
        font-size: 23px;
        img{
            width: 24px;
        }
    }
    .flat-button{
        font-size: 8px;
        padding: 8px 16px;

    }
}
}
@media only screen and (max-width: 480px){
    .homepage{
    h1{
        &::before{
            margin-top: -22px; 
            left: 0; 
            opacity: 0.6;
            font-size: 12px;
        }
        &::after{
             font-size: 12px;
            margin-top: 8px; 
            margin-left: 18px; 
        }
        img{
            width: 22px;
        }
    }
}
}

@media only screen and (max-width: 320px){
    .homepage{
        .mainheading{
            width: 100%;
            left: 7%;
        }
    }

}