.homepage{

    .mainheading{
        position: absolute; 
        left: 10%; //away from sidebar
        top: 50%; //vertically centered
        transform: translateY(-50%); 
        width: 40%; 
        max-height: 90%; 

    }
    h1{
        color: white; 
        font-size: 4.2vw; 
        margin: 0; 
        font-family: 'Fred'; 
        font-weight: 400;

        img{
            width: 45px;
            margin-left: 18px;
            opacity: 0; 
            height: auto; 
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }
    h2{
        color: #a09e9e;
        margin-top: 20px; 
        font-weight: 400; 
        font-size: 11px;
        font-family: sans-serif; 
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button{
        color: #8EE3EF; 
        font-size: 1vw; 
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #8EE3EF; 
        margin-top: 25px; 
        float: left; 
        animation: fadeInAnimation 1s 1.8s backwards; 
        white-space: nowrap;

        &:hover{
            background: #8EE3EF;
            color: #333; 
        }
        &:focus{
            background: #8EE3EF;
            color: #333; 
        }

    }
    .rocketship{
        display:none;
    }
    .planet{
        position: absolute; 
        right: 11%; //away from sidebar
        top: 50%; //vertically centered
        transform: translateY(-50%);       
        width: 40%; 
        &:hover + .rocketship{
           
                display: inline;
                position: absolute; 
                left: 30%;
                bottom: 45%; 
                width: 20%; 
                max-height: 90%; 
                animation: move-diagonal 4s linear infinite  ;
            
        }
    }
   
}
@keyframes move-diagonal{
    0% {
		transform: translateY(-500);
        opacity: 0;
	}
    30%{
        opacity: 0.8
    }

	100% {
		transform: translate(500px, -500px);
	}
   

}

@media  screen and (max-width: 1024px){
    .homepage{
    .mainheading{
        left: 12%; //away from sidebar
        transform: translateY(-50%); 
    }
    h1{
        img{
            width: 35px;
        }
    }
    .planet{
        right: 8%; //away from sidebar
    }
}
}

@media  screen and (max-width: 768px){
    .homepage{
    .mainheading{
        left: 13%; //away from sidebar
    }
    h1{
        font-size: 35px;
        &::before{
            margin-top: -22px; 
            left: 0; 
        }
        &::after{
             font-size: 12px;
            margin-top: 20px; 
            margin-left: 18px; 
        }
        img{
            width: 30px;
        }
    }
    .flat-button{
        font-size: 8px;
        padding: 8px 16px;

    }
    .planet{
        right: 6%; //away from sidebar
    }
}
}
@media only screen and (max-width: 500px){
    .homepage{
    .mainheading{
        width: 75%; 
    }
    h1{
        &::before{
            margin-top: -22px; 
            left: 0; 
            font-size: 12px;
        }
        &::after{
             font-size: 12px;
            margin-top: 8px; 
            margin-left: 18px; 
        }
        img{
            width: 25px;
        }
    }
    .planet{
        display:none;
    }
    .rocketship{
        display:none;
    }
}
}

@media only screen and (max-width: 320px){
    .homepage{
        .mainheading{
            width: 100%;
            left: 7%;
        }
        h1{
            font-size: 30px;
        }
    }

}