.app.container-fluid {
  .row {
    .col-1 {
      position: sticky;
      top: 0;
      height: 100vh;
    }
    .col-11 {
      padding: 0;
    }
  }
}

#about,
#projects,
#skills,
#contact {
  h1 {
    font-family: 'Oswald';
    color: #6fffe9;
    cursor: context-menu;
  }
  p.fs-4 {
    color: white;
    font-family: 'Raleway';
  }
}

@media only screen and (width >= 1200px) {
  #about,
  #projects,
  #skills,
  #contact {
    h1 {
      font-size: calc(1.525rem + 3.3vw);
    }
  }
}
