.projects-page{
    .mainheading{
        position: absolute; 
        top: 50%; //vertically centered
        transform: translateY(-50%); 
        width: 40%; 
        max-height: 90%; 

    }
    .textarea{
        
        width: 95%;
        height: 100%;
        position: absolute; 
        left: 10%; 
        top: 50%; 
        transform: translateY(-50%); 
        vertical-align: middle;
        display: table-cell;
        max-height: 100%;
        .row{
            height: 90vh;
        }
        .projectslist{
            overflow-y: scroll;
        }
        
    }
    .text-animate-hover{
        &:hover{
            color:white; 
            
        }
    }
}

::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

.card{
    background: none;
    &:hover{
        box-shadow: #888 0px 1px 4px;
    }
    font-family: 'Helvetica';

}
.card-title{
    color: white;
    font-size: clamp(12px, 1.4vw, 16px );
    font-weight: bold;
}
p.card-text{
    font-size: clamp(11px, 1.2vw, 16px );
    color: white;
}
.btn{
    border-radius: 0;
}
.githubbtn{
    color: white;
    border: 1px solid #8EE3EF;
    font-size: clamp(12px, 1.1vw, 16px );
    &:hover{
        background-color: #8EE3EF;
        color: black;
    }
}
.livebtn{
    background-color: #8EE3EF;
    font-size: clamp(12px, 1.1vw, 16px );
    color: black;
    &:hover{
        background-color: #8ee4efaf;
    }
}
.card-img-top{
    height: 22vw;
}
.scrollimg{
    max-width: 20px; 
    position: fixed;
    left: 48%;
    bottom: 10%;
    animation: slideInDown 1.5s infinite ;
}
@media only screen and (max-width: 500px){
    .scrollimg{
        display: none;
    }
}