#resume-page{
    .mainheading{
        position: absolute; 
        top: 50%; //vertically centered
        left: 15%;
        transform: translateY(-50%); 
        max-height: 90%; 
    }
    .textarea{
        
        width: 95%;
        height: 100%;
        position: absolute; 
        left: 10%; 
        top: 50%; 
        transform: translateY(-50%); 
        vertical-align: middle;
        display: table-cell;
        max-height: 100%;
        
    }
    .row{
        height: 90vh;
        width: 90%;
    }
}