html{
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  color: #6fffe9; 
  background-color: #000000;
  background-image: url('./assets/images/sky1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

